.adgoogle-wrapper{
  margin-top: 10px;
  margin-bottom: 10px;
  min-width:250px;
  max-width:80%;
}
.adgoogle-wrapper:before {
  content: '\30b9\30dd\30f3\30b5\30fc\30ea\30f3\30af';
  display: block;
  font-size: 10px;
}
.inline-ad {
  margin-top: 10px;
  margin-bottom: 2em;
}
ins[data-ad-slot="9750729260"]{
  min-height: 600px;
  min-width: 160px;
}
ins[data-ad-slot="9750729260"] iframe {
  min-height: 600px;
  min-width: 160px;
}
ins[data-ad-slot="5814180973"]{
}
ins[data-ad-slot="5814180973"]{
  min-height: 100px;
  width: 100%;
}
